*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: var(--light-grayish-blue);
}

html {
  height: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
